.check-city {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;

  &__button {
    padding: 0;
    color: #fff;
    opacity: 0.6;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;

    &:first-child {
      margin-right: 60px;
    }

    @media screen and (max-width: 993px) {
      font-size: 1rem;
    }
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto !important;

  button {
    padding: 0;
    margin: 10px 75px 10px 10px;
    color: #498cec;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1rem;
  }
}