.weather-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  @media screen and (max-width: 993px) {
    width: 50%;
    margin-bottom: 20px;
  }
}

.weather {
  &__title {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__description {
    font-size: 1rem;
    font-weight: bold;
  }
}