.temp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 140px;

  &__value {
    font-size: 5rem;
    font-weight: 300;

    @media screen and (max-width: 993px) {
      font-size: 3rem;
    }
  }

  &__description {
    width: 100%;
    font-size: 1.5rem;
  }
}