.scale {
  &__label {
    text-align: right;

    &:first-child {
      width: 40px;
      height: 30px;
      padding: 10px 11px 10px 15px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-radius: 8px 0 0 8px;
      font-size: 1.2rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }

    &:last-child {
      width: 40px;
      height: 30px;
      padding: 10px 15px 10px 11px;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-radius: 0 8px 8px 0;
      font-size: 1.2rem;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }

    &.active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.4);
    }

    input {
      display: none;
    }
  }
}