.city {
  width: 60%;
  margin-right: 10%;
  text-align: left;

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;

    @media screen and (max-width: 993px) {
      font-size: 1.5rem;
    }
  }
}