.App {
  text-align: center;
  padding: 50px 75px 50px 95px;

  @media screen and (max-width: 993px) {
    padding: 20px 25px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
